// modal
.modal-height{
    height: 736px;
}
.admin-text{
    font-size: 24px;
    line-height: 33px;
}
// table
.table{
    width: 936px;
}
.bottom-dark{
    border-bottom: 1px solid #000;
}
.modal-text{
    font-size: 20px;
}
.send-mail{
    color: #CED4DA;
}