// modal
.modal-height{
    height: 736px;
}
.admin-text{
    font-size: 24px;
    line-height: 33px;
}
.border-bottom-dark{
    border-bottom: 1px solid rgb(153, 153, 153);
}
.btn-gary{
    border: solid 1px #CED4DA;
}
.gary-border{
    border-bottom:1px solid #CED4DA;
}
.form-check-input{
    border: 2px solid #000;
    border-radius: 0;
    width: 24px;
    height: 24px;
}
// table
.table{
    width: 936px;
}
.bottom-dark{
    border-bottom: 1px solid #000;
}
.modal-text{
    font-size: 20px;
}
.send-mail{
    color: #CED4DA;
}
// pagination
.page-active{
    background-color: #198754;
}
.page-link{
    width: 32px;
    height: 32px;
}