<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <div class="d-flex">
      <nav class="nav-bg d-flex flex-column justify-content-between">
        <div>
          <a href="#" class="answer d-block pt-5 ps-4">
            <img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg"
              alt="ANSWER"
            />
          </a>
          <ul class="nav flex-column mt-4">
            <li class="nav-item ms-3 mb-2">
              <a href="#" class="nav-link d-flex">
                <span class="material-icons-outlined me-3"> grid_view </span>
                Dashboard
              </a>
            </li>
            <li class="side-item ms-3 mb-2">
              <a href="#" class="nav-link d-flex">
                <span class="material-icons-outlined me-3">
                  question_answer
                </span>
                Question
              </a>
            </li>
            <li class="side-item ms-3 mb-2">
              <a href="index.html" class="nav-link active text-success d-flex">
                <span class="material-icons-outlined me-3"> assignment </span>
                Assignment
              </a>
            </li>
            <li class="side-item ms-3 mb-2">
              <a href="#" class="nav-link d-flex">
                <span class="material-icons-outlined me-3">
                  smart_display
                </span>
                Course
              </a>
            </li>
            <li class="side-item ms-3 mb-2">
              <a href="list.html" class="nav-link d-flex">
                <span class="material-icons-outlined me-3"> group </span>
                Admin
              </a>
            </li>
            <li class="side-item ms-3 mb-2">
              <a href="#" class="nav-link d-flex">
                <span class="material-icons-outlined me-3"> settings </span>
                Settings
              </a>
            </li>
          </ul>
        </div>
        <div class="myaccount d-flex align-items-center ms-4">
          <img
            class="selfie me-3"
            src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg"
            alt="selfie"
          />
          <!-- 使用者名稱可以使用標題標籤。信箱用 p 標籤 -->
          <div>
            <h4 class="myname">Andy Chen</h4>
            <p class="myemail d-block text-secondary">andy0401@mail.com</p>
          </div>
        </div>
      </nav>
      <%- contents %>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
